<h4 class ="text-center m-5 border-bottom p-1">マイページ</h4>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2">
        <table class="table table-bordered">
            <h4 class ="text-center m-3">User Info</h4>
            <tbody>
                 <div class="center-block"><%= attachment_image_tag @user, :profile_image, size: "100x100", format:'jpg', fallback:"no_image.jpg",class:"rounded-circle"; %></div>
                <tr>
                    <td>@<%= @user.account%></td>
                </tr>
                <tr>
                    <td><%= @user.prefecture %></td>
                </tr>
                <tr>
                    <% if @user.id == current_user.id %>
                    <td><%= link_to "編集する", edit_user_path(@user), class: "btn btn-success" %></td>
                    <% end %>
                </tr>
            </tbody>
        </table>
    </div>

  <div class="container col-md-8 py-4">
   <% @eateries.each do |eatery| %>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><button type="button" class="btn btn-light"><button type="button" class="btn btn-danger"><%= eatery.emo.emo_name %></button>を食べたい!</button></h5>
            </div>
             <%= link_to eatery_path(eatery.id) do %>
              <% if eatery.images.attached? %>
               <div class"article_images">
                   <% if eatery.images.count > 0%>
                   <%=  image_tag eatery.images.first.variant(resize: "400x400").processed, class: "article-list-img" %>
                   <% end %>
                </div>
               <% end %>
              <% end %>
           </div>
        </div>
  </div>
  </div>
<% end %>
</div>