<h4 class ="text-center m-5 border-bottom p-1">マイページ</h4>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2">
        <table class="table table-bordered">
            <h4 class ="text-center m-3">User Info</h4>
            <tbody>
                <div class="center-block"><%= attachment_image_tag @user, :profile_image, size: "100x100", format:'jpg', fallback:"no_image.jpg",class:"rounded-circle border"; %></div>
                <tr>
                    <td>@<%= @user.account%></td>
                </tr>
                <tr>
                    <td><%= @user.prefecture %></td>
                </tr>
                <tr>
                 <th><%= link_to @user.followings.count,user_followings_path(@user.id) %>フォロー</th>
                </tr>
                <tr>
                  <th><%= link_to @user.followers.count,user_followers_path(@user.id)%>フォロワー</th>
                </tr>

                <tr>
                 <% if user_signed_in? %>
                     <% if @user == current_user %>
                         <% else %>
                            <% if current_user.following?(@user) %>
                              <td><%= link_to "解除", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger"%></td>
                            <% else %>
                              <td><%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class: "btn btn-info"  %></td>
                            <% end %>
                        <% end %>
                <% else %>
                <% end %>
                <tr/>

                <tr>
                <% if user_signed_in? %>
                    <% if @user.id == current_user.id %>
                    <td><%= link_to "編集する", edit_user_path(@user), class: "btn btn-success" %></td>
                    <% end %>
                <% else %>
                <% end %>
                </tr>
            </tbody>
        </table>
    </div>

  <div class="col-md-8">
   <div class="row">
       <% @eateries.each do |eatery| %>
        <div class="card mx-auto mt-3 shadow-lg px-3">
              <div class="card-body">
                  <div class="col-20">
                      <button type="button" class="btn btn-danger px-1"><%= eatery.emo.emo_name %></button><br>
                      <div class="text-right">を食べたい!</div><br>
                  </div>
              </div>
                <div class="mx-auto">
                     <%= link_to eatery_path(eatery.id) do %>
                          <% if eatery.images.attached? %>
                              <div class"article_images">
                                 <% if eatery.images.count > 0%>
                                     <%=  image_tag eatery.images.first.variant(resize: "200x200").processed, class: "article-list-img border" %>
                                 <% end %>
                              </div>
                           <% end %>
                      <% end %>
                </div>
            <div class="card-body">
              <p class="card-title">
                  <%= link_to(eatery_path(eatery.id), class:"text-dark") do %>
                   <strong><i class="fas fa-store"></i><span><%= eatery.eatery_name %></span></strong>
                  <% end %>
              </p>
              <div class="text-right">
                  <i class="fas fa-thumbs-up">わかる！(<%= eatery.favorites.count %>件)</i><br>
                  <p><%= link_to "#{eatery.post_comments.count} コメント", eatery_path(eatery.id) %></p>
              </div>
            </div>
      </div>
       <% end %>
   </div>
