<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>エモ投稿編集</h1>
          <%= form_with model: @eatery, local:true do |f| %>
            <p>エモ<br>
             <%= f.collection_select :emo_id, Emo.all, :id, :emo_name,{prompt: "選択してください"} %>を食べたい！</p>
            <p>店舗名<br>
             <%= f.text_field :eatery_name %></p>
            <p>レポート<br>
             <%= f.text_area :report, size: '10x10', class: 'form-control' %></p>
            <p>住所<br>
             <%= f.text_area :adress%></p>
            <%= f.submit '更新する' ,class:"btn btn-success"%>
          <% end %>
            <p><%= link_to "Back", eatery_path(@eatery) %></p>
    </div>
  </div>
</div>
