<h1>エモ投稿</h1>
<% if @eatery.errors.any? %>
  <%= @eatery.errors.count %>件のエラーが発生しました
  <% @eatery.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model: @eatery, local:true do |f| %>
  <h5>エモ</h5>
  <th><%= f.collection_select :emo_id, Emo.all, :id, :emo_name,{prompt: "選択してください"} %></th>を食べたい！

  <h5>画像</h5>
  <%= f.file_field :images, multiple: true %>
  <h5>ショップ名</h5>
  <%= f.text_field :eatery_name %>
  <h5>住所</h5>
  <%= f.text_area :address%>
  <h5>説明</h5>
  <%= f.text_area :report%>
  <%= f.submit '投稿' %>
<% end %>
