

 <div class="main mx-auto">
   <div class="col-10">
      <div class="col-10">
         <button type="button" class="btn btn-danger"><%= @eatery.emo.emo_name %></button>を食べたい!
          <%= link_to user_path(@eatery.user) do %>
            <p><%= attachment_image_tag @eatery.user, :profile_image, size: "60x50", format:'jpg', fallback:"no_image.jpg",class:"mt-3 rounded-circle"; %>
            <%= @eatery.user.account %></p>
          <% end %>
      </div>
      <div class="hoge">
        <% if @eatery.images.attached? %>
           <% @eatery.images.each do |image| %>
              <div class="nest-hoge">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                  <%= image_tag image, :size => '650x400' %>
                <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
      <h6 class="fas fa-store">店舗名：<%= @eatery.eatery_name %></h6><br>
      <li class="fas fa-utensils">説明</li>
      <p class="report"><%= @eatery.report %></p>
      <% if user_signed_in? %>
        <div id="favorites_buttons_<%= @eatery.id %>">
          <%= render 'favorites/favorite', eatery: @eatery %>
        </div>
      <% else %>
         <i class="fas fa-thumbs-up">わかる！(<%= @eatery.favorites.count %>件)</i><br>
      <% end %>
  <p>住所</p>
  <p><%= @eatery.address %></p>
  <div id="map"></div>

  <style>
#map{
  height:400px;
  width:1000px;
}
</style>


  <p>投稿日時：<%= @eatery.created_at.strftime('%Y/%m/%d') %></p>
  <div>
<p>コメント件数：<%= @eatery.post_comments.count %></p>
<% @eatery.post_comments.each do |post_comment| %>
  <%= link_to user_path(post_comment.user) do %>
  <p> <%= attachment_image_tag post_comment.user, :profile_image, size: "60x50", format:'jpg', fallback:"no_image.jpg",class:"mt-3 rounded-circle"; %>
  <%= post_comment.user.account %></p>
  <% end %>
  <%= post_comment.comment %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %>
  <% if post_comment.user == current_user %>
  <div>
    <%= link_to "削除", eatery_post_comment_path(post_comment.eatery, post_comment), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div>
  <%= form_with(model:[@eatery, @post_comment], local: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
  <% if @eatery.user == current_user %>
  　<p>こちらの投稿記事への<p/>
    <p><%= link_to "編集", edit_eatery_path(@eatery),class:"btn btn-sm btn-success edit_book_7295" %><%= link_to "削除", eatery_path(@eatery), method: :delete ,class:"btn btn-sm btn-danger destroy_book_7295" ,data: { confirm: '本当に消しますか？' }%></p>
  <% end %>
 </div>

<script type="text/javascript">
    function initMap() {
        var test ={lat: <%= @eatery.latitude %>, lng: <%= @eatery.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        var contentString = '住所：<%= @eatery.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>