<!DOCTYPE html>
<html>
  <head>
    <title>EmoEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
     <div class="alert alert-primary text-center" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
     <div class="alert alert-danger text-center" role="alert"><strong><%= alert %></strong></div>
    <% end %>
  <header class="p-3 mb-2 bg-danger text-white">
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
         <h2 class="nav navbar-nav navbar-left title border" style="font-size: 30px;">
          <%= link_to image_tag(asset_path("logo.png"), class:"heaedr_logo"), eateries_path %>
         </h2>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
               <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to "Emo", eateries_path , class: 'fas fa-heart nav-link text-light'%>
                  </li>
                  <li class="nav-item">
                    <%= link_to "NewEmo", new_eatery_path , class: 'fas fa-plus nav-link text-light' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "MyPage", user_path(current_user.id) , class: 'fas fa-user nav-link text-light ' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Notification", notifications_path , class: 'fas fa-bell nav-link text-light' %>
                  </li>
                  <li class="nav-item">
                   <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-light' %>
                  </li>
                  <li class="nav-item">
                   <%= link_to "お問い合わせ",new_contact_path, class: 'fas fa-question-circle nav-link text-light' %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Home", root_path , class: 'fas fa-home nav-link text-light '%>
                  </li>
                  <li class="nav-item">
                   <%= link_to "About", about_path , class: 'fas fa-link nav-link text-light' %>
                  </li>
                  <li class="nav-item">
                   <%= link_to "sign up", new_user_registration_path , class:'fas fa-user-plus nav-link text-light'%>
                  </li>
                  <li class="nav-item">
                    <%= link_to "login", new_user_session_path , class:'fas fa-sign-in-alt nav-link text-light'%>
                  </li>
                  <li class="nav-item">
                   <%= link_to "お問い合わせ",new_contact_path, class: 'fas fa-question-circle nav-link text-light' %>
                  </li>
                <% end %>
               </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
       <%= yield %>
      </div>
    </main>
  </body>
</html>
